<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="data">Data Web</a></li>
            </ul>
        </aside>

        <!-- Main content -->
        <main class="main-content">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="navbar-left">
                    <h1>Dashboard</h1>
                </div>
                <div class="navbar-right">
                    <div class="profile">
                        <span>Profile</span>
                    </div>
                </div>
            </nav>

            <!-- Content -->
            <div class="content">
                <div class="card">
                    <h3>Web Active</h3>
                    <p id="web-active">{{ web_active }}</p>
                </div>
                <div class="card">
                    <h3>Web Non-Active</h3>
                    <p id="web-non-active">{{ web_non_active }}</p>
                </div>
                <div class="card">
                    <h3>Jumlah Web</h3>
                    <p id="jumlah-web">{{ jumlah_web }}</p>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
